@import "reset.less";
@import "fonts.less";
@import "main_page.less";
@import "ui.less";
@import "animation.less";
@import "jsCalendar.less";
@import "profile.less";

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

b, th {
    font-weight: 600;
}