.header {
    margin: 15px 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 31%;
    font-weight: bold;
    font-size: 28px;
    font-style: italic;

    a {
        color: black;
    }
}

.logo, .nav, .nav-items__item, .ui__sign-in, .ui__sign-up {
    display: inline-block;
    padding: 10px;
}

.nav-items {
    margin-right: 20px;
}

.nav-items__item {
    a {
        color: #3DA4CD;
    }
}


.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 20px;
}

.main-article {
    grid-column: 1/3;
    grid-row: span 1;
    text-align: initial;
}

